* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: inherit;
    background-image: url(../images/bckgrd.webp);
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotate(90deg);
}